/* your style goes below */
.label{
    display: none;
}

.label-no-hidden{
    font-size: 8pt !important;
    position: relative !important;
    top: -15px !important;
}

.field-no-hidden{
    margin-left:-68px !important;
}

